.container {
    padding: 20px 10px 0px 10px;
}

.select2 {
    margin-bottom: 20px;
}

.table-wrapper {
    overflow: auto;
    height: 334px;
    margin-bottom: 20px;
}

.table-wrapper table {
    border: 1px solid #aaa;
    border-radius: 4px;
}

.table-wrapper th, .table-wrapper td {
    padding: 5px 15px;
    text-align: left;
    vertical-align: middle;
}

.table-wrapper th {
    vertical-align: middle;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.table-wrapper td {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.table-wrapper th:hover {
    background-color: forestgreen;
    color: white;
}

.table-wrapper th:nth-child(1):hover,
.table-wrapper th:nth-child(2):hover,
.table-wrapper th:nth-child(3):hover {
    background-color: #4CAF50;
    color: white;
    cursor: default;
}

.table-wrapper tr td:nth-child(2),
.table-wrapper tr td:nth-child(3) {
    text-align: center;
}

.table-wrapper tr td:nth-child(2):hover,
.table-wrapper tr td:nth-child(3):hover {
    cursor: pointer;
}

.table-wrapper tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-wrapper input {
    border: none;
    outline: none;
    background-color: inherit;
}

.buttonsBlock {
    margin-bottom: 10px;
}

.buttonsBlock div {
    padding: 10px 15px;
    text-align: center;
    background-color: #4CAF50;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 163px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.buttonsBlock div:hover {
    background-color: forestgreen;
    color: white;
    border-radius: 4px;
}

#textArea {
    width: 100%;
    height: 334px;
    resize: none;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    border-radius: 4px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
}

#chart_div {
    width: 100%;
    height: 400px;
}


@media (max-width: 387px) {

    .buttonsBlock div {
        width: 100%;
    }

    .select2 {
        width: 100%!important;
    }

}