.table-wrapper {
    overflow: auto;
}

.table-wrapper thead td {
    text-align: center;
    vertical-align: middle;
}

#chart_div {
    width: 100%;
    height: 400px;
}


@media (max-width: 150px) {
  
}