.container {
    padding: 10px;
}

.select2 {
    margin-bottom: 20px;
}

.table-wrapper {
    overflow: auto;
    margin-bottom: 20px;
}

.table-wrapper table {
    border: 1px solid #aaa;
    border-radius: 4px;
}

.table-wrapper thead td {
    text-align: center;
    vertical-align: middle;
}

.table-wrapper th, .table-wrapper td {
    padding: 5px 15px;
    text-align: left;
    vertical-align: middle;
}

.table-wrapper th {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.table-wrapper th:hover {
    background-color: forestgreen;
    color: white;
}

.table-wrapper th:nth-child(1):hover,
.table-wrapper th:nth-child(2):hover,
.table-wrapper th:nth-child(3):hover {
    background-color: #4CAF50;
    color: white;
    cursor: default;
}

.table-wrapper tr td:nth-child(2),
.table-wrapper tr td:nth-child(3) {
    text-align: center;
}

.table-wrapper tr td:nth-child(2):hover,
.table-wrapper tr td:nth-child(3):hover {
    cursor: pointer;
}

.table-wrapper tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-wrapper input {
    border: none;
    outline: none;
    background-color: inherit;
}

.buttonsBlock {
    margin-bottom: 20px;
}

.buttonsBlock div {
    padding: 5px 15px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in;
    display: inline-block;
}

.buttonsBlock div:hover {
    background-color: forestgreen;
    color: white;
    border-radius: 4px;
}

#textArea {
    width: 100%;
    min-height: 300px;
    resize: none;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

#chart_div {
    width: 100%;
    height: 400px;
}


@media (max-width: 150px) {
  
}